.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;

  .info {
    .name {
      font-weight: 500;
    }
  }
}

.actions {
  display: flex;
  gap: 8px;
}
