.header-wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
  height: 70px;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    .header-leftbox {
      display: flex;
      align-items: center;
      gap: 20px;
      .logo-box {
        width: 290px;
        display: flex;
        align-items: center;
        position: relative;
        .button {
          font-size: 30px;
          margin-right: 30px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        .logo {
          width: 130px;
          cursor: pointer;
        }
        .logo-less {
          width: 50px;
          cursor: pointer;
        }
        .arrow {
          position: absolute;
          right: 20px;
          width: 50px;
          background-image: url("/src/assets/bg-left.webp");
          height: 70px;
          background-size: auto 130px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    .header-rightbox {
      display: flex;
      align-items: center;
      gap: 20px;
      .header-icon {
        color: var(--primary-color);
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-bg-color);
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        &:hover {
          color: var(--secondary-color);
        }
        .icon {
          font-size: 20px;
        }
      }
    }
  }
}

.header-menu-wrapper {
  display: flex;
  gap: 10px;

  .menu-item {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    color: #333;
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
    }
  }
}
.menu-children-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  .menu-children {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    background-color: var(--primary-bg-color);
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      // background-color: var(--secondary-bg-color);
      color: var(--primary-color);
      box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
      transition: all 0.3s;
    }
    .menu-children-icon {
      font-size: 1.7rem;
      cursor: pointer;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-children-title {
      font-weight: 400;
      font-size: 1.4rem;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    .logo-box {
      width: 70px !important;
    }
    .menu-box {
      display: none;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    .logo-box {
      width: 200px !important;
    }
    .menu-box {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header {
    .logo-box {
      width: 230px !important;
    }
    .menu-box {
      display: none;
    }
  }
}
