.card-wrapper {
  border: 1px solid #f0f0f0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  .card-header {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f9f9f9;
  }
  .card-body {
    padding: 10px;
    overflow: auto;

    &.full-height {
      height: calc(100vh - 140px);
    }
  }
}
