.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f178f1dd;
  border-radius: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.font-size-2rem {
  font-size: 2rem;
}
.font-weight-500 {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-20 {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-start {
  text-align: start;
}

.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.table-centered td,
.table-centered th {
  vertical-align: middle;
}

// custom antd theme
.ant-modal-content {
  padding: 0 !important;
}
.ant-modal-close {
  top: 5px !important;
  right: 5px !important;
}
